<ion-content>
  <div class="login-container">
    <div class="login-logo">
      <img [src]="logo" alt="">
      <div class="login-title">
        <h1 class="title-big title-big__primary">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h1>
      </div>
    </div>
    
    <div class="login-button">
      <button class="button-register" routerLink="/register" ><h2 class="title title__secondary">REGÍSTRATE</h2></button>
      <button class="button-login"><h2 class="title title__white">INGRESA</h2></button>
    </div>
  </div>
  
</ion-content>